@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../fonts/JosefinSans-Bold.ttf');
    src: url('../fonts/JosefinSans-Bold.ttf?iefix') format('truetype'),
    url('../fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Josefin Sans Regular";
    src: url("../fonts/JosefinSans-Regular.ttf");
    src: url("../fonts/JosefinSans-Regular.ttf?iefix") format('truetype'),
    url("../fonts/JosefinSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.image {
    z-index: 0;
    background-size: cover;
    border-radius: 20%;
}
.url {
 border-radius: 20vw;
}
.col-3 {
    width:77px;
    height:77px ;
}
.title{
    position: absolute;
    line-height: 20vw;
    color:white;
    font-family: "Josefin Sans Bold";
    font-size: 4vw;
    z-index: 2;
}
.gradient {
    z-index: 1;
    height: 20vw;
    width: 20vw;
    position: absolute;
    opacity: 0.65;
    border-radius: 20%;
}









#pizza_img {
    background-image: url("../navbar/navbar_img/pizza.png");
    height: 20vw;
    width: 20vw;
}
#burger_img {
    background-image: url("../navbar/navbar_img/burger.png");
    height: 20vw;
    width: 20vw;
}


#drink_img {
    background-image: url("../navbar/navbar_img/drink.png");
    height: 20vw;
    width: 20vw;
}
#desert_img {
    background-image: url("../navbar/navbar_img/desert.png");
    height: 20vw;
    width: 20vw;
}

#pizza_gradient {
    background: rgba(255, 86, 114, 1);
    background: -moz-linear-gradient(top, rgba(255, 86, 114, 1) 0%, rgba(255, 139, 72, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 86, 114, 1)), color-stop(100%, rgba(255, 139, 72, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 86, 114, 1) 0%, rgba(255, 139, 72, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 86, 114, 1) 0%, rgba(255, 139, 72, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 86, 114, 1) 0%, rgba(255, 139, 72, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 114, 1) 0%, rgba(255, 139, 72, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5672', endColorstr='#ff8b48', GradientType=0)
}
#burger_gradient {
   background: #ff4665;
background: -moz-linear-gradient(top, #ff4665 0%, #832bf6 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff4665), color-stop(100%, #832bf6));
background: -webkit-linear-gradient(top, #ff4665 0%, #832bf6 100%);
background: -o-linear-gradient(top, #ff4665 0%, #832bf6 100%);
background: -ms-linear-gradient(top, #ff4665 0%, #832bf6 100%);
background: linear-gradient(to bottom, #ff4665 0%, #832bf6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4665', endColorstr='#832bf6', GradientType=0 );
}
#desert_gradient {
    background: #2dcff8;
    background: -moz-linear-gradient(top, #2dcff8 0%, #3b41fe 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #2dcff8), color-stop(100%, #3b41fe));
    background: -webkit-linear-gradient(top, #2dcff8 0%, #3b41fe 100%);
    background: -o-linear-gradient(top, #2dcff8 0%, #3b41fe 100%);
    background: -ms-linear-gradient(top, #2dcff8 0%, #3b41fe 100%);
    background: linear-gradient(to bottom, #2dcff8 0%, #3b41fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dcff8', endColorstr='#3b41fe', GradientType=0 );
}
#drink_gradient {

    background: #009ec5;
    background: -moz-linear-gradient(left, #009ec5 0%, #21e590 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #009ec5), color-stop(100%, #21e590));
    background: -webkit-linear-gradient(left, #009ec5 0%, #21e590 100%);
    background: -o-linear-gradient(left, #009ec5 0%, #21e590 100%);
    background: -ms-linear-gradient(left, #009ec5 0%, #21e590 100%);
    background: linear-gradient(to right, #009ec5 0%, #21e590 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ec5', endColorstr='#21e590', GradientType=1 );
}
#test {
    background: #f8f8f8;
}