{% load static %}
<link rel="stylesheet" href="{% static 'styles/bucket/bucket.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Cart </title>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">



<div class="container">
    <div class="row">
        <div class="col-6 align-items-start">
            <div id="left_arrow_img" class="image"></div>
            <div id="category_title">Quick Checkout</div>
        </div>
        <div class="col-6 align-items-end" >
            <a href="#">
                   <div id="close_img" class="image"></div>
            </a>
        </div>
    </div>
</div>



<div class="container" id="place_for_order">
        <div class="row" id="default">   a</div>
</div>