{% load static %}
{% load staticfiles %}

    <link rel="stylesheet" href="./static/styles/cart_detail/detail.css">
    <script src="../js/detail.js"></script>
    <script src="./js/detail.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

{% block title %}
{% endblock %}


{% block content %}
<div class="container-fluid" id="cart">



        <div class=" cart_navbar col-12">
            <div class="row">
                <a onclick="history.back(-1)" class="col-2 d-flex justify-content-start arrow">
                    <img src="static/styles/cart_detail/cart_detail_img/back_button_img.png" class=" back_button ">
                </a>
                <div class="col-8 cart_navbar_title d-flex justify-content-center">Quick Checkout</div>
                <a href="/" class="col-2 d-flex justify-content-end cross">
                    <img src="static/styles/cart_detail/cart_detail_img/close_button.png" class="close_button ">
                </a>
            </div>
        </div>

        <div class="col-12 cart_details d-flex justify-content-start">
            {% with totail_items=cart|length %}
            {% if cart|length > 0 %}
            <a href="{% url 'cart:cart_detail' %}">
                <div class="cart_details d-flex justify-content-center">{{totail_items }} item in the cart list{{ totail_item|pluralize }}, USD {{ cart.get_total_price }}</div>
            </a>
            {% else %}
            Your cart is empty.
            {% endif %}
            {% endwith %}
        </div>

        <div class="col space_for_cartitems">
            <div class="col-12">
                {% for item in cart %}
                {% with product=item.product %}


                <div class="container-fluid item ">
                    <div class="col-12">
                        <div class="row">


                            <div class="col-6 imt_cont item_img_cont" >
                                <a href="{{ product.get__absolute_url }}" class="" >
                                    <img src="{{ product.img.url }}" class="item_img">
                                </a>
                            </div>


                            <div class="col-6 ml-auto align-self-center item_details" >
                                <!--
                                <div class="row close_button" style="margin-left: 37vw;margin-top: 1vw">
                                    <a href="{% url 'cart:cart_remove' product.category product.id %}">
                                        <img src="static/styles/cart_detail/cart_detail_img/cross_button.png" style="height: 3vw;width: auto;">
                                    </a>
                                </div>
                                -->
                                <div >
                                    <div class="row">

                                        <div class="col-11 item_name center d-flex justify-content-center" style="margin-top: -3vw" > • {{ product.name }}</div>
                                        <a href="{% url 'cart:cart_remove' product.category product.id %}" class="col-1 d-flex justify-content-end" style="margin-top: -5vw">
                                            <img src="static/styles/cart_detail/cart_detail_img/cross_button.png" style="height: 3vw;width: auto;">
                                        </a>
                                    </div>

                                    <div class="row d-flex justify-content-center">
                                        <div class="row quantity">
                                            <!--
                                            <div class="minus_quantity_button">
                                                -
                                            </div>
                                            -->
                                            <div class="number_quantity" style="margin-bottom: -3vw">
                                                 <form action="{% url 'cart:cart_add' product.category product.id %}" method="post">
                                                    {% csrf_token %}
                                                    {{ item.update_quantity_form.quantity }}
                                                    {{ item.update_quantity_form.update }}
                                                    <input type="submit" value="Save" class="btn btn-info save-button">
                                                 </form>
                                            </div>
                                            <!--
                                            <div class="plus_quantity">
                                                <a onclick="increaseValue()" value="Increase Value">+</a>
                                            </div>
                                            -->

                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="preparing_time_border d-flex justify-content-center">
                                            <div class="preparing_time">
                                                {{product.preparing_time}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="price">
                                            ${{product.price}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="col-1 ml-auto align-self-center delete_item_button" >
                            <a href="{% url 'cart:cart_remove' product.category product.id %}" >
                                <img src="static/styles/cart_detail/cart_detail_img/cross_button.png" style="height: 4vw;width: auto;margin-top: -16vw">
                            </a>
                            </div>
                            -->
                        </div>
                    </div>
                </div>


                {% endwith %}
                {% endfor %}

            </div>
            {% if cart|length > 0 %}
            <footer class="fixed-bottom d-flex justify-content-center" style="background-color: white"  >
                    <div id="1" class="col-11 d-flex justify-content-center " style="background-color: #5663FF;width: 91vw;border-radius: 4vw;margin-bottom: 3vw">
                        <a id="2" href="#" class="order_button " style="font-size: 6vw; color: white;font-family: 'Josefin Sans Regular';margin-top: 4vw;padding-bottom: 3vw">
                            Order
                        </a>
                    </div>
            </footer>
            {% endif %}
        </div>




    </div>

</div>
<!--
<footer class="cart_footer col-12 justify-content-center footer fixed_bottom">
    <div class="col-12 order_border  d-flex justify-content-center">
        <div class="row order_title ">Order</div>
    </div>
</footer>
-->



<!--
<footer class="cart_footer fixed-bottom" id="footer">


    <a href="#">
        <div class="container order_border d-flex justify-content-center">
            <div class="order_title ">Order</div>
        </div>
    </a>
                    • The Modern
</footer>

-->






<div>

<!--

<div class="container-fluid">
    <div class="row" style="margin-top: 6%">
        <h2>
            Your Shopping Cart
            <span class="badge pull-right">
                {% with totail_items=cart|length %}
                {% if cart|length > 0 %}
                My Shopping Order:
                <a href="{% url 'cart:cart_detail' %}" style='color: #5AC8FA'>
                    {{ totail_items }} item {{ totail_items|pluralize }}, UAH. {{ cart.get_total_price }}
                </a>
                {% else %}
                Your cart is empty.
                {% endif %}
                {% endwith %}
            </span>
        </h2>
        <table class="table table-striped table-hover">
            <thead style="background-color: #5AC8FA">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit Price</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                {% with product=item.product  %}
                <tr>
                    <td>
                        <a href="{{ product.get__absolute_url }}">
                            <img src="{{ product.img.url }}" style="height: 130px; width: auto">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.category product.id %}" method="post">
                            {% csrf_token %}
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Update" class="btn btn-info">
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'cart:cart_remove' product.category product.id %}">Remove</a>
                    </td>
                    <td>UAH {{ item.price }}</td>
                    <td>UAH {{ item.total_price }}</td>
                </tr>
                {% endwith %}
                {% endfor %}
                <tr style="background-color: #5AC8FA">
                    <td><b>Total</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b>UAH. {{ cart.get_total_price }}</b></td>
                </tr>
            </tbody>
        </table>
        <p class="text-right">
            
            <a href="" class="btn btn-primary">Checkout</a>
        </p>
    </div>
</div>


-->
    </div>
{% endblock %}