{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <div class="row">
        <div class="col-3 ml-auto align-self-center" id="pizza">
            <a href="pizzas.html" class="url">
                <div class="row d-flex justify-content-center">
                    <div class="gradient" id="pizza_gradient"></div>
                    <div class="image" id="pizza_img"></div>
                    <div class="title">Pizza</div>
                </div>
            </a>
        </div>



        <div class="col-3 ml-auto align-self-center" id="burger">
            <a href="burgers.html" class="url">
                <div class="row d-flex justify-content-center">
                    <div class="gradient" id="burger_gradient"></div>
                    <div class="image" id="burger_img"></div>
                    <div class="title">Burgers</div>
                </div>
            </a>
        </div>

        <div class="col-3 ml-auto align-self-center" id="deserts">
            <a href="desserts.html" class="url">
                <div class="row d-flex justify-content-center">
                    <div class="gradient" id="desert_gradient"></div>
                    <div class="image" id="desert_img"></div>
                    <div class="title">Deserts</div>
                </div>
            </a>
        </div>

        <div class="col-3 ml-auto align-self-center" id="drinks">
            <a href="drinks.html" class="url">
                <div class="row d-flex justify-content-center">
                    <div class="gradient" id="drink_gradient"></div>
                    <div class="image" id="drink_img"></div>
                    <div class="title">Drinks</div>
                </div>
            </a>
        </div>




    </div>
</div>