{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container " id="up_navbar">
    <div class="row">
        <div class="col-6 align-items-start">
            <div id="category_img" class="align-self-center"></div>
            <div id="category_title">Category</div>
        </div>
        <div class="col-6 align-items-end" >
            <a href="#">
                <div id="category_see_all_list">See all</div>
            </a>
        </div>
    </div>
</div>